*{
    box-sizing: border-box;

}
body{
    margin: 0;
    scroll-behavior: smooth;
}
.img{
    vertical-align: middle;
}
.container{
    width: 1240px;
    margin: 0 auto;
}
.hero-inner{
display: flex;
align-items: center;
justify-content: space-between;
}
.nav-list{
    list-style: none;
    display: flex;
}